<div class="pageoverflow">
	<p class="pagetext">{$fielddef->GetName()}{if $fielddef->IsRequired()}*{/if}:</p>
	<p class="pageinput">
	  {if $fielddef->GetDesc()}({$fielddef->GetDesc()})<br />{/if}
	  {$fielddef->GetInput($actionid)}
	</p> 
</div>