<div class="quotebox">
  <div class="quoteauthor">{$quoteauthor} said:</div>
  <div class="quotecontent">{$quotecontent}</div>
  <div class="quotereference">from {$quotereference}</div>
  <br />
  (quote shown {$quoteexposures|default:'0'} times)
</div>