{$formstart}
	<div class="pageoverflow">
		<p class="pagetext">{$allowwysiwygtext}</p>
		<p class="pageinput">{$allowwysiwyginput}</p>
	</div>
        
        <div class="pageoverflow">
		<p class="pagetext">{$allowmle}</p>
		<p class="pageinput">{$allowmleinput}</p>
	</div>
	
	<div class="pageoverflow">
		<p class="pagetext">&nbsp;</p>
		<p class="pageinput">{$submit}</p>
	</div>
{$formend}