.addlisting-placeholder {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important; }
  .addlisting-placeholder:hover {
    cursor: move; }
    .addlisting-placeholder:hover .addlisting-placeholder__actions {
      opacity: 1;
      visibility: visible; }
  .addlisting-placeholder *, .addlisting-placeholder :after, .addlisting-placeholder :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.addlisting-placeholder-accordion .addlisting-placeholder__icon {
  color: #5dd679; }

.addlisting-placeholder-featured .addlisting-placeholder__icon {
  color: #f28747; }

.addlisting-placeholder-prices .addlisting-placeholder__icon {
  color: #ef6f75; }

.addlisting-placeholder__icon {
  float: left;
  width: 46px;
  text-align: center;
  line-height: 45px !important;
  font-size: 30px;
  border-right: 1px solid #dddddd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto; }
  .addlisting-placeholder__icon img {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px); }
  @media (min-width: 768px) {
    .addlisting-placeholder__icon {
      width: 56px;
      line-height: 54px !important; }
      .addlisting-placeholder__icon img {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px); } }

.addlisting-placeholder__title {
  font-weight: 600;
  line-height: 45px !important;
  padding: 0 20px;
  overflow: hidden;
  color: #212121;
  font-family: "Poppins", sans-serif; }
  @media (min-width: 768px) {
    .addlisting-placeholder__title {
      line-height: 54px !important; } }

.addlisting-placeholder__actions {
  position: absolute;
  right: 15px;
  top: 8px;
  margin-left: -2.5px;
  margin-right: -2.5px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden; }
  @media (min-width: 768px) {
    .addlisting-placeholder__actions {
      top: 12px; } }
  .addlisting-placeholder__actions span {
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    float: left;
    margin-right: 2.5px;
    margin-left: 2.5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    font-family: "Poppins", sans-serif; }
    .addlisting-placeholder__actions span:hover {
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  .addlisting-placeholder__actions .addlisting-placeholder__action-edit {
    background-color: #4dace3; }
  .addlisting-placeholder__actions .addlisting-placeholder__action-remove {
    background-color: #fe6d6d; }

/*.wil-mce-editor [data-wpview-type="gallery"] {
  height: 54px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  cursor: move !important; }
  .wil-mce-editor [data-wpview-type="gallery"] .gallery, .wil-mce-editor [data-wpview-type="gallery"] .wpview-end {
    display: none !important; }
  .wil-mce-editor [data-wpview-type="gallery"]:before {
    content: '';
    display: inline-block;
    width: 56px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    border-right: 1px solid #ddd;
    font-size: 30px;
    color: #4dace3;
    vertical-align: middle;
    background: url("../img/icon-gallery.png") no-repeat center center; }
  .wil-mce-editor [data-wpview-type="gallery"]:after {
    content: attr(data-wpview-type);
    font-weight: 600;
    padding: 0 16px;
    overflow: hidden;
    color: #212121;
    font-family: "Poppins",sans-serif;
    vertical-align: middle;
    text-transform: capitalize; }
  .wil-mce-editor [data-wpview-type="gallery"]:hover .addlisting-placeholder__actions {
    opacity: 1;
    visibility: visible; }*/