.wiloke-message-wrapper{display:block;width:100%;min-height:100px;background-color:#e5e3df;padding-top:30px;padding-bottom:30px}.wiloke-message-icon{display:block;padding-bottom:20px}.wiloke-message{display:block;vertical-align:middle;color:#616161;font-size:16px}
