<fieldset>
	<legend>{$demo_text}</legend>
	<div class="pageoverflow">
		<p class="pagetext">{$imagedropdown_text}:</p>
		<p class="pageinput">{$imagedropdown_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$imagebrowser_text}:</p>
		<p class="pageinput">{$imagebrowser_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$filedropdown_text}:</p>
		<p class="pageinput">{$filedropdown_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{$filebrowser_text}:</p>
		<p class="pageinput">{$filebrowser_input}</p>
	</div>
	<div class="pageoverflow">
		<p class="pagetext">{*$filebrowser_text*} Smarty:</p>
		<p class="pageinput">{jmfp}</p>
	</div>
</fieldset>
