.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) {
    background-color: #f4f6f8 !important;
    border-top: 1px solid #e9ebee !important;
    border-left: 1px solid #e9ebee !important;
    border-right: 1px solid #e9ebee !important;
    margin-left: -4px !important;
    margin-right: -4px !important;
    margin-bottom: -3px;
    padding: 6px 5px 0px 5px !important;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 45px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #dddddd !important;
    margin-left: 2.5px !important;
    margin-right: 2.5px !important;
    margin-bottom: 7px !important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn.disable {
    cursor: default;
    opacity: 0.3;
}

@media (min-width: 768px) {
    .mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn {
        height: 57px;
    }
}

@media (max-width: 768px) {
    .mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn {
        width: 97%;
    }
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    content: attr(aria-label);
    font-weight: 600;
    color: #212121;
    font-size: 12px;
    padding: 5px 18px;
    font-family: "Poppins", sans-serif;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn button {
    padding: 0;
}

.mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn i {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    border-right: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
    .mce-tinymce .mce-toolbar-grp .mce-stack-layout > .mce-last:nth-child(3) .mce-btn i {
        height: 57px;
        width: 57px;
    }
}

#wp-listing_content-wrap .mce-toolbar-grp .mce-stack-layout > .mce-last {
    border-top: 1px solid #b4b4b4 !important;
    border-left: 1px solid #b4b4b4 !important;
    border-right: 1px solid #b4b4b4 !important;
    background-color: #e7e7e7 !important;
}

#wp-listing_content-wrap .mce-toolbar-grp {
    border-bottom-color: #b4b4b4;
}

#wp-listing_content-wrap .wp-editor-tabs,
#wp-listing_content-wrap #prism-shortcode {
    display: none;
}

#wp-listing_content-wrap #wp-listing_content-editor-container {
    overflow: hidden;
}

#wp-listing_content-wrap .wp-editor-tabs .wp-switch-editor {
    border-top-color: #b4b4b4;
    border-left-color: #b4b4b4;
    border-right-color: #b4b4b4;
}

#wp-listing_content-wrap .wp-editor-container {
    border: 1px solid #b4b4b4 !important;
}

#wp-listing_content-wrap .mce-tinymce .mce-statusbar {
    border-top-color: #b4b4b4;
}

.wil-popup-wrap,
.addlisting-popup-wrap {
    position: fixed;
    z-index: 9992;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 768px) {
    .wil-popup-wrap,
    .addlisting-popup-wrap {
        padding: 50px 10px;
    }
}

.wil-popup-wrap.hidden,
.addlisting-popup-wrap.hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    z-index: 0;
    width: 0;
    height: 0;
}

.wil-popup-wrap:not(.hidden) .wil-popup,
.wil-popup-wrap:not(.hidden) .addlisting-popup,
.addlisting-popup-wrap:not(.hidden) .wil-popup,
.addlisting-popup-wrap:not(.hidden) .addlisting-popup {
    opacity: 1;
}

.wil-popup-wrap *,
.wil-popup-wrap:before,
.wil-popup-wrap:after,
.addlisting-popup-wrap *,
.addlisting-popup-wrap:before,
.addlisting-popup-wrap:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wil-popup,
.addlisting-popup {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0.05s;
    -o-transition: all 0.3s ease 0.05s;
    transition: all 0.3s ease 0.05s;
}

.wil-popup__close,
.addlisting-popup__close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 13px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wil-popup__close:before,
.wil-popup__close:after,
.addlisting-popup__close:before,
.addlisting-popup__close:after {
    content: '';
    width: 21px;
    height: 1px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fe6d6d;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wil-popup__close:after,
.addlisting-popup__close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wil-popup__header,
.addlisting-popup__header {
    background-color: #212121;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    position: relative;
    color: #f8b000;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
    .wil-popup__header,
    .addlisting-popup__header {
        height: 42px;
        font-size: 13px;
    }
}

.wil-popup__content,
.addlisting-popup__content {
    padding: 20px 0;
    background-color: #fff;
}

@media (max-width: 768px) {
    .wil-popup__content,
    .addlisting-popup__content {
        padding: 15px;
    }
}

.wil-popup__content:after,
.addlisting-popup__content:after {
    content: '';
    clear: both;
    display: block;
}

.wil-popup__content .row,
.addlisting-popup__content .row {
    margin-left: -5px;
    margin-right: -5px;
}

.wil-popup__content .row [class*="col-"],
.addlisting-popup__content .row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.wil-popup__form,
.addlisting-popup__form,
.wil-popup__preview,
.addlisting-popup__preview {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .wil-popup__form,
    .addlisting-popup__form,
    .wil-popup__preview,
    .addlisting-popup__preview {
        padding-left: 0;
        padding-right: 0;
    }
}

.wil-popup__form,
.addlisting-popup__form {
    width: 100%;
}

@media (min-width: 567px) {
    .wil-popup__form,
    .addlisting-popup__form {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .wil-popup__actions #listgo-cancel-event,
    .wil-popup__actions #listgo-create-event,
    .addlisting-popup__actions #listgo-cancel-event,
    .addlisting-popup__actions #listgo-create-event {
        width: 100%;
        margin: 0;
    }
}

.wil-popup__actions #listgo-cancel-event,
.addlisting-popup__actions #listgo-cancel-event {
    margin-bottom: 10px;
}

.wil-popup__preview,
.addlisting-popup__preview {
    display: none;
}

@media (min-width: 567px) {
    .wil-popup__preview,
    .addlisting-popup__preview {
        display: block;
        width: 40%;
    }
}

.wil-popup__preview-img,
.addlisting-popup__preview-img {
    border: 5px solid #dfdfdf;
}

.wil-popup__preview-img img,
.addlisting-popup__preview-img img {
    width: 100%;
}

.wil-popup__plus,
.addlisting-popup__plus {
    display: block;
    background-color: #212121;
    font-weight: 600;
    line-height: 42px;
    width: 42px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: bold;
    color: #f8b000;
}

@media (max-width: 768px) {
    .wil-popup__plus,
    .addlisting-popup__plus {
        width: 34px;
        line-height: 34px;
        font-size: 18px;
    }
}

.wil-popup__plus:hover,
.addlisting-popup__plus:hover {
    color: #212121;
    background-color: #f8b000;
}

.wil-popup__field,
.addlisting-popup__field {
    margin-bottom: 20px;
    position: relative;
}

.wil-popup__field .wil-popup__field-icon,
.wil-popup__field .addlisting-popup__field-icon,
.addlisting-popup__field .wil-popup__field-icon,
.addlisting-popup__field .addlisting-popup__field-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #5a5b5c;
}

.wil-popup__field input[type="text"],
.wil-popup__field input[type="tel"],
.wil-popup__field input[type="email"],
.wil-popup__field input[type="url"],
.wil-popup__field textarea,
.wil-popup__field input[type="time"],
.wil-popup__field input[type="date"],
.addlisting-popup__field input[type="text"],
.addlisting-popup__field input[type="tel"],
.addlisting-popup__field input[type="email"],
.addlisting-popup__field input[type="url"],
.addlisting-popup__field textarea,
.addlisting-popup__field input[type="time"],
.addlisting-popup__field input[type="date"] {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 42px;
    padding: 0 15px;
    line-height: 40px;
}

.wil-popup__field input[type="time"],
.addlisting-popup__field input[type="time"] {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wil-popup__field textarea,
.addlisting-popup__field textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
    height: auto;
}

.wil-popup__nav,
.addlisting-popup__nav {
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
}

.wil-popup__nav .wil-popup__plus,
.wil-popup__nav .addlisting-popup__plus,
.addlisting-popup__nav .wil-popup__plus,
.addlisting-popup__nav .addlisting-popup__plus {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.wil-popup__nav a,
.addlisting-popup__nav a {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    border: 1px solid #b4b4b4;
    padding-right: 20px;
    padding-left: 25px;
    border-radius: 5px;
    color: #212121;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    position: relative;
}

@media (max-width: 768px) {
    .wil-popup__nav a,
    .addlisting-popup__nav a {
        height: 34px;
        padding-right: 10px;
        font-size: 12px;
    }
}

.wil-popup__nav a:focus,
.addlisting-popup__nav a:focus {
    outline-width: 0;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wil-popup__nav a.active,
.addlisting-popup__nav a.active {
    color: #212121;
    text-decoration: none;
    background-color: #f8b000;
    border-color: #f8b000;
}

.wil-popup__nav a.active:hover,
.addlisting-popup__nav a.active:hover {
    color: #212121;
}

.wil-popup__nav a:hover,
.addlisting-popup__nav a:hover {
    color: #f8b000;
    border-color: #f8b000;
}

.wil-popup__nav .wil-popup__nav-remove,
.wil-popup__nav .addlisting-popup__nav-remove,
.addlisting-popup__nav .wil-popup__nav-remove,
.addlisting-popup__nav .addlisting-popup__nav-remove {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: #212121;
    border-radius: 2px;
    color: red;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wil-popup__nav .wil-popup__nav-remove:hover,
.wil-popup__nav .addlisting-popup__nav-remove:hover,
.addlisting-popup__nav .wil-popup__nav-remove:hover,
.addlisting-popup__nav .addlisting-popup__nav-remove:hover {
    color: red;
}

.wil-popup__nav .wil-popup__nav-remove:after,
.wil-popup__nav .wil-popup__nav-remove:before,
.wil-popup__nav .addlisting-popup__nav-remove:after,
.wil-popup__nav .addlisting-popup__nav-remove:before,
.addlisting-popup__nav .wil-popup__nav-remove:after,
.addlisting-popup__nav .wil-popup__nav-remove:before,
.addlisting-popup__nav .addlisting-popup__nav-remove:after,
.addlisting-popup__nav .addlisting-popup__nav-remove:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-top: 1px solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wil-popup__nav .wil-popup__nav-remove:before,
.wil-popup__nav .addlisting-popup__nav-remove:before,
.addlisting-popup__nav .wil-popup__nav-remove:before,
.addlisting-popup__nav .addlisting-popup__nav-remove:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wil-popup__group,
.addlisting-popup__group {
    border: 1px solid #dbdbdb;
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

@media (max-width: 768px) {
    .wil-popup__group,
    .addlisting-popup__group {
        padding: 15px;
    }
}

.wil-popup__group .wil-popup__field,
.wil-popup__group .addlisting-popup__field,
.addlisting-popup__group .wil-popup__field,
.addlisting-popup__group .addlisting-popup__field {
    margin-bottom: 10px;
}

.wil-popup__upload,
.addlisting-popup__upload {
    border: 2px dashed #b4b4b4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 35px 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center center;
}

.wil-popup__upload[style*="background-image"] p,
.addlisting-popup__upload[style*="background-image"] p {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wil-popup__upload[style*="background-image"]:hover,
.addlisting-popup__upload[style*="background-image"]:hover {
    background-image: none !important;
}

.wil-popup__upload[style*="background-image"]:hover p,
.addlisting-popup__upload[style*="background-image"]:hover p {
    opacity: 1;
    visibility: visible;
}

.wil-popup__upload:hover,
.addlisting-popup__upload:hover {
    border-color: #f8b000;
}

.wil-popup__upload p,
.addlisting-popup__upload p {
    font-size: 14px;
    color: #9d9d9d;
    text-align: center;
    margin-bottom: 0;
}

.wil-popup__upload p strong,
.addlisting-popup__upload p strong {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    color: #212121;
}

.wiloke-event-package td > label {
    position: absolute;
    height: 100%;
    width: 20000px;
    top: 0;
    left: 0;
    z-index: 9;
    display: block;
    max-width: none;
    cursor: pointer;
}

.wil-popup__content,
.addlisting-popup__content {
    max-height: calc(100vh - 250px);
    overflow-x: hidden;
    overflow-y: auto;
}

.wil-popup__content label,
.addlisting-popup__content label {
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    color: #212122;
    font-size: 16px;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-upload,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-upload {
    width: calc(100% - 10px);
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-upload:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-upload:before {
    content: none;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item {
    width: calc(25% - 10px);
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item:before {
    padding-top: 100%;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload {
    width: calc(25% - 10px);
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload:before {
    content: '';
    padding-top: 100%;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload p,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload p,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload p,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload p {
    display: none;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:before,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:after,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:before,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:after,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:after,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:after {
    content: '';
    width: 21px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:after,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:after,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:after,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:hover:before,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:hover:after,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:hover:before,
.wil-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:hover:after,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:hover:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .wil-popup__upload:hover:after,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:hover:before,
.addlisting-popup__content .wil-addlisting-gallery__list .wil-addlisting-gallery__list-item + .wil-addlisting-gallery__list-upload .addlisting-popup__upload:hover:after {
    background-color: #f8b000;
}

.wil-popup__actions,
.addlisting-popup__actions {
    text-align: right;
    padding: 15px 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #dddddd;
}

.wil-popup__actions .wil-popup__btn,
.wil-popup__actions .addlisting-popup__btn,
.addlisting-popup__actions .wil-popup__btn,
.addlisting-popup__actions .addlisting-popup__btn {
    margin-right: 4px;
}

.wil-popup__actions .wil-popup__btn:last-child,
.wil-popup__actions .addlisting-popup__btn:last-child,
.addlisting-popup__actions .wil-popup__btn:last-child,
.addlisting-popup__actions .addlisting-popup__btn:last-child {
    margin-right: 0;
}

.wil-popup__btn,
.addlisting-popup__btn {
    min-width: 160px;
    font-size: 16px;
    padding: 12px 30px;
    text-align: center;
    background-color: #dddddd;
    font-family: "Poppins", sans-serif;
    color: #212121;
    border-width: 0;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .wil-popup__btn,
    .addlisting-popup__btn {
        min-width: 100px;
        font-size: 12px;
        padding: 8px 15px;
        margin-bottom: 5px;
    }
}

.wil-popup__btn i,
.addlisting-popup__btn i {
    position: relative;
    top: 2px;
}

.wil-popup__btn.primary,
.addlisting-popup__btn.primary {
    background-color: #f5af02;
}

.wil-popup__btn:hover,
.addlisting-popup__btn:hover {
    color: #fff;
    background-color: #212121;
}

.wil-popup__radio,
.addlisting-popup__radio {
    margin: 0;
}

.wil-popup__radio input,
.addlisting-popup__radio input {
    display: none;
}

.wil-popup__radio input:checked ~ span,
.addlisting-popup__radio input:checked ~ span {
    border-color: #51c939;
}

.wil-popup__radio input:checked ~ span:before,
.addlisting-popup__radio input:checked ~ span:before {
    display: block;
}

.wil-popup__radio span,
.addlisting-popup__radio span {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    cursor: pointer;
    margin: auto;
    left: 25px;
    top: 0;
    bottom: 0;
}

.wil-popup__radio span:before,
.addlisting-popup__radio span:before {
    content: '';
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #51c939;
    border-radius: 50%;
}

.wil-popup__radio:hover span,
.addlisting-popup__radio:hover span {
    border-color: #51c939;
}

.wil-popup-wrap .wil-popup,
.wil-popup-wrap .addlisting-popup,
#wiloke-event-settings .wil-popup,
#wiloke-event-settings .addlisting-popup {
    max-width: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    visibility: visible;
    opacity: 1;
}

.wil-popup-wrap .wil-popup__status,
.wil-popup-wrap .wiloke-event-package,
.wil-popup-wrap .wiloke-event-settings,
.wil-popup-wrap .wiloke-event-method,
#wiloke-event-settings .wil-popup__status,
#wiloke-event-settings .wiloke-event-package,
#wiloke-event-settings .wiloke-event-settings,
#wiloke-event-settings .wiloke-event-method {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1010px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) translateX(15vw);
    -ms-transform: translate(-50%, -50%) translateX(15vw);
    transform: translate(-50%, -50%) translateX(15vw);
    visibility: hidden;
    will-change: transform, opacity, visibility;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.wil-popup-wrap .wil-popup__status.prev,
.wil-popup-wrap .wiloke-event-package.prev,
.wil-popup-wrap .wiloke-event-settings.prev,
.wil-popup-wrap .wiloke-event-method.prev,
#wiloke-event-settings .wil-popup__status.prev,
#wiloke-event-settings .wiloke-event-package.prev,
#wiloke-event-settings .wiloke-event-settings.prev,
#wiloke-event-settings .wiloke-event-method.prev {
    -webkit-transform: translate(-50%, -50%) translateX(-15vw);
    -ms-transform: translate(-50%, -50%) translateX(-15vw);
    transform: translate(-50%, -50%) translateX(-15vw);
    opacity: 0;
    visibility: hidden;
}

.wil-popup-wrap .wil-popup__status.active,
.wil-popup-wrap .wiloke-event-package.active,
.wil-popup-wrap .wiloke-event-settings.active,
.wil-popup-wrap .wiloke-event-method.active,
#wiloke-event-settings .wil-popup__status.active,
#wiloke-event-settings .wiloke-event-package.active,
#wiloke-event-settings .wiloke-event-settings.active,
#wiloke-event-settings .wiloke-event-method.active {
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.wil-popup-wrap .wil-popup__status.active + *,
.wil-popup-wrap .wil-popup__status.active + *.prev,
.wil-popup-wrap .wil-popup__status.active ~ *.active,
.wil-popup-wrap .wiloke-event-package.active + *,
.wil-popup-wrap .wiloke-event-package.active + *.prev,
.wil-popup-wrap .wiloke-event-package.active ~ *.active,
.wil-popup-wrap .wiloke-event-settings.active + *,
.wil-popup-wrap .wiloke-event-settings.active + *.prev,
.wil-popup-wrap .wiloke-event-settings.active ~ *.active,
.wil-popup-wrap .wiloke-event-method.active + *,
.wil-popup-wrap .wiloke-event-method.active + *.prev,
.wil-popup-wrap .wiloke-event-method.active ~ *.active,
#wiloke-event-settings .wil-popup__status.active + *,
#wiloke-event-settings .wil-popup__status.active + *.prev,
#wiloke-event-settings .wil-popup__status.active ~ *.active,
#wiloke-event-settings .wiloke-event-package.active + *,
#wiloke-event-settings .wiloke-event-package.active + *.prev,
#wiloke-event-settings .wiloke-event-package.active ~ *.active,
#wiloke-event-settings .wiloke-event-settings.active + *,
#wiloke-event-settings .wiloke-event-settings.active + *.prev,
#wiloke-event-settings .wiloke-event-settings.active ~ *.active,
#wiloke-event-settings .wiloke-event-method.active + *,
#wiloke-event-settings .wiloke-event-method.active + *.prev,
#wiloke-event-settings .wiloke-event-method.active ~ *.active {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%) translateX(15vw);
    -ms-transform: translate(-50%, -50%) translateX(15vw);
    transform: translate(-50%, -50%) translateX(15vw);
    z-index: 1;
}

@media (max-width: 767px) {
    .wil-popup-wrap .wil-popup__status,
    .wil-popup-wrap .wiloke-event-package,
    .wil-popup-wrap .wiloke-event-settings,
    .wil-popup-wrap .wiloke-event-method,
    #wiloke-event-settings .wil-popup__status,
    #wiloke-event-settings .wiloke-event-package,
    #wiloke-event-settings .wiloke-event-settings,
    #wiloke-event-settings .wiloke-event-method {
        padding-left: 0;
        padding-right: 0;
    }
}

.wil-popup__status .wil-popup__content,
.wil-popup__status .addlisting-popup__content,
.wiloke-event-settings .wil-popup__content,
.wiloke-event-settings .addlisting-popup__content {
    padding-left: 15px;
    padding-right: 15px;
}

.wil-popup__status .wil-popup__form,
.wil-popup__status .addlisting-popup__form,
.wiloke-event-settings .wil-popup__form,
.wiloke-event-settings .addlisting-popup__form {
    width: 100%;
}

.wil-popup__status .wil-popup__form .row,
.wil-popup__status .addlisting-popup__form .row,
.wiloke-event-settings .wil-popup__form .row,
.wiloke-event-settings .addlisting-popup__form .row {
    margin-left: -15px;
    margin-right: -15px;
}

.wil-popup__status .wil-popup__form .row [class*="col-"],
.wil-popup__status .addlisting-popup__form .row [class*="col-"],
.wiloke-event-settings .wil-popup__form .row [class*="col-"],
.wiloke-event-settings .addlisting-popup__form .row [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.wiloke-event-package .wil-popup__content,
.wiloke-event-package .addlisting-popup__content {
    padding: 20px;
}

@media (min-width: 767px) {
    .wiloke-event-package .wil-popup__content,
    .wiloke-event-package .addlisting-popup__content {
        padding: 30px 30px 30px 30px;
    }
}

@media (min-width: 992px) {
    .wiloke-event-package .wil-popup__content,
    .wiloke-event-package .addlisting-popup__content {
        padding: 25px 40px 35px 40px;
    }
}

.wil-popup__package,
.addlisting-popup__package {
    border: 1px solid #dddddd;
    width: 100%;
}

@media (min-width: 768px) {
    .wil-popup__package tr,
    .addlisting-popup__package tr {
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .wil-popup__package tr:hover,
    .addlisting-popup__package tr:hover {
        background-color: #f9f9f9;
    }
    .wil-popup__package tr:hover .wil-popup__package-action input:checked + span,
    .wil-popup__package tr:hover .addlisting-popup__package-action input:checked + span,
    .addlisting-popup__package tr:hover .wil-popup__package-action input:checked + span,
    .addlisting-popup__package tr:hover .addlisting-popup__package-action input:checked + span {
        border-color: #51c939;
    }
}

.wil-popup__package tr.active .wil-popup__package-action a,
.wil-popup__package tr.active .addlisting-popup__package-action a,
.addlisting-popup__package tr.active .wil-popup__package-action a,
.addlisting-popup__package tr.active .addlisting-popup__package-action a {
    background-color: #f5af02;
}

.wil-popup__package tr:first-child td,
.addlisting-popup__package tr:first-child td {
    border-top-width: 0;
}

.wil-popup__package td,
.addlisting-popup__package td {
    position: relative;
    padding: 30px 25px;
    border-top: 1px solid #dddddd;
}

.wil-popup__package .wil-popup__package-price-currency,
.wil-popup__package .addlisting-popup__package-price-currency,
.wil-popup__package .wil-popup__package-price-amount,
.wil-popup__package .addlisting-popup__package-price-amount,
.wil-popup__package .wil-popup__package-price-time,
.wil-popup__package .addlisting-popup__package-price-time,
.wil-popup__package .wil-popup__package-price-slash,
.wil-popup__package .addlisting-popup__package-price-slash,
.addlisting-popup__package .wil-popup__package-price-currency,
.addlisting-popup__package .addlisting-popup__package-price-currency,
.addlisting-popup__package .wil-popup__package-price-amount,
.addlisting-popup__package .addlisting-popup__package-price-amount,
.addlisting-popup__package .wil-popup__package-price-time,
.addlisting-popup__package .addlisting-popup__package-price-time,
.addlisting-popup__package .wil-popup__package-price-slash,
.addlisting-popup__package .addlisting-popup__package-price-slash {
    font-family: "Poppins", sans-serif;
}

.wil-popup__package .wil-popup__package-price-td,
.wil-popup__package .addlisting-popup__package-price-td,
.addlisting-popup__package .wil-popup__package-price-td,
.addlisting-popup__package .addlisting-popup__package-price-td {
    white-space: nowrap;
}

.wil-popup__package .wil-popup__package-price-td .wil-popup__package-price-currency,
.wil-popup__package .wil-popup__package-price-td .addlisting-popup__package-price-currency,
.wil-popup__package .addlisting-popup__package-price-td .wil-popup__package-price-currency,
.wil-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-currency,
.addlisting-popup__package .wil-popup__package-price-td .wil-popup__package-price-currency,
.addlisting-popup__package .wil-popup__package-price-td .addlisting-popup__package-price-currency,
.addlisting-popup__package .addlisting-popup__package-price-td .wil-popup__package-price-currency,
.addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-currency {
    font-size: 24px;
    font-weight: 600;
    margin-right: 3px;
    line-height: 1;
}

.wil-popup__package .wil-popup__package-price-td .wil-popup__package-price-amount,
.wil-popup__package .wil-popup__package-price-td .addlisting-popup__package-price-amount,
.wil-popup__package .addlisting-popup__package-price-td .wil-popup__package-price-amount,
.wil-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-amount,
.addlisting-popup__package .wil-popup__package-price-td .wil-popup__package-price-amount,
.addlisting-popup__package .wil-popup__package-price-td .addlisting-popup__package-price-amount,
.addlisting-popup__package .addlisting-popup__package-price-td .wil-popup__package-price-amount,
.addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-amount {
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
}

.wil-popup__package .wil-popup__package-price-td .wil-popup__package-price-slash,
.wil-popup__package .wil-popup__package-price-td .addlisting-popup__package-price-slash,
.wil-popup__package .addlisting-popup__package-price-td .wil-popup__package-price-slash,
.wil-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-slash,
.addlisting-popup__package .wil-popup__package-price-td .wil-popup__package-price-slash,
.addlisting-popup__package .wil-popup__package-price-td .addlisting-popup__package-price-slash,
.addlisting-popup__package .addlisting-popup__package-price-td .wil-popup__package-price-slash,
.addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price-slash {
    color: #bababa;
}

.wil-popup__package .wil-popup__package-description,
.wil-popup__package .addlisting-popup__package-description,
.addlisting-popup__package .wil-popup__package-description,
.addlisting-popup__package .addlisting-popup__package-description {
    width: 100%;
}

.wil-popup__package .wil-popup__package-description strong,
.wil-popup__package .addlisting-popup__package-description strong,
.addlisting-popup__package .wil-popup__package-description strong,
.addlisting-popup__package .addlisting-popup__package-description strong {
    color: #212121;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.wil-popup__package .wil-popup__package-description p,
.wil-popup__package .addlisting-popup__package-description p,
.addlisting-popup__package .wil-popup__package-description p,
.addlisting-popup__package .addlisting-popup__package-description p {
    margin-bottom: 0;
}

.wil-popup__package .wil-popup__package-action,
.wil-popup__package .addlisting-popup__package-action,
.addlisting-popup__package .wil-popup__package-action,
.addlisting-popup__package .addlisting-popup__package-action {
    padding-left: 30px;
    min-width: 80px;
}

.wil-popup__package .wil-popup__event-payment,
.wil-popup__package .addlisting-popup__event-payment,
.addlisting-popup__package .wil-popup__event-payment,
.addlisting-popup__package .addlisting-popup__event-payment {
    display: block;
    width: 100%;
    padding: 0;
    border-bottom-width: 0;
}

.wil-popup__package .wil-popup__event-payment.active,
.wil-popup__package .addlisting-popup__event-payment.active,
.addlisting-popup__package .wil-popup__event-payment.active,
.addlisting-popup__package .addlisting-popup__event-payment.active {
    border-bottom-width: 1px;
}

.wil-popup__package .wil-popup__event-payment.active .wil-popup__event-method,
.wil-popup__package .wil-popup__event-payment.active .addlisting-popup__event-method,
.wil-popup__package .addlisting-popup__event-payment.active .wil-popup__event-method,
.wil-popup__package .addlisting-popup__event-payment.active .addlisting-popup__event-method,
.addlisting-popup__package .wil-popup__event-payment.active .wil-popup__event-method,
.addlisting-popup__package .wil-popup__event-payment.active .addlisting-popup__event-method,
.addlisting-popup__package .addlisting-popup__event-payment.active .wil-popup__event-method,
.addlisting-popup__package .addlisting-popup__event-payment.active .addlisting-popup__event-method {
    display: block;
}

@media (max-width: 767px) {
    .wil-popup__package,
    .addlisting-popup__package {
        display: block;
    }
    .wil-popup__package tr,
    .wil-popup__package td,
    .wil-popup__package tbody,
    .addlisting-popup__package tr,
    .addlisting-popup__package td,
    .addlisting-popup__package tbody {
        display: block;
    }
    .wil-popup__package td,
    .addlisting-popup__package td {
        width: 100% !important;
        text-align: right;
        padding: 10px 20px !important;
    }
    .wil-popup__package td label,
    .addlisting-popup__package td label {
        display: block;
        left: auto;
        right: 0;
    }
    .wil-popup__package td label span,
    .addlisting-popup__package td label span {
        left: auto;
        right: 20px;
    }
    .wil-popup__package .wil-popup__package-action,
    .wil-popup__package .addlisting-popup__package-action,
    .addlisting-popup__package .wil-popup__package-action,
    .addlisting-popup__package .addlisting-popup__package-action {
        background-color: #f1f1f1;
        padding: 0 !important;
    }
    .wil-popup__package .wil-popup__package-action:before,
    .wil-popup__package .addlisting-popup__package-action:before,
    .addlisting-popup__package .wil-popup__package-action:before,
    .addlisting-popup__package .addlisting-popup__package-action:before {
        content: attr(data-title);
        display: block;
        color: #212121;
        font-size: 18px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        text-align: left;
        padding: 20px !important;
    }
    .wil-popup__package .wil-popup__package-price .wil-popup__package-price-currency,
    .wil-popup__package .wil-popup__package-price .addlisting-popup__package-price-currency,
    .wil-popup__package .addlisting-popup__package-price .wil-popup__package-price-currency,
    .wil-popup__package .addlisting-popup__package-price .addlisting-popup__package-price-currency,
    .addlisting-popup__package .wil-popup__package-price .wil-popup__package-price-currency,
    .addlisting-popup__package .wil-popup__package-price .addlisting-popup__package-price-currency,
    .addlisting-popup__package .addlisting-popup__package-price .wil-popup__package-price-currency,
    .addlisting-popup__package .addlisting-popup__package-price .addlisting-popup__package-price-currency {
        font-size: 20px;
    }
    .wil-popup__package .wil-popup__package-price .wil-popup__package-price-amount,
    .wil-popup__package .wil-popup__package-price .addlisting-popup__package-price-amount,
    .wil-popup__package .addlisting-popup__package-price .wil-popup__package-price-amount,
    .wil-popup__package .addlisting-popup__package-price .addlisting-popup__package-price-amount,
    .addlisting-popup__package .wil-popup__package-price .wil-popup__package-price-amount,
    .addlisting-popup__package .wil-popup__package-price .addlisting-popup__package-price-amount,
    .addlisting-popup__package .addlisting-popup__package-price .wil-popup__package-price-amount,
    .addlisting-popup__package .addlisting-popup__package-price .addlisting-popup__package-price-amount {
        font-size: 34px;
    }
    .wil-popup__package .wil-popup__package-price-td:before,
    .wil-popup__package .addlisting-popup__package-price-td:before,
    .wil-popup__package .wil-popup__package-description:before,
    .wil-popup__package .addlisting-popup__package-description:before,
    .addlisting-popup__package .wil-popup__package-price-td:before,
    .addlisting-popup__package .addlisting-popup__package-price-td:before,
    .addlisting-popup__package .wil-popup__package-description:before,
    .addlisting-popup__package .addlisting-popup__package-description:before {
        content: attr(data-title) ":";
        font-family: "Poppins", sans-serif;
        float: left;
        color: #212121;
        font-weight: 600;
        margin-right: 15px;
    }
    .wil-popup__package .wil-popup__package-price-td .wil-popup__package-description,
    .wil-popup__package .wil-popup__package-price-td .addlisting-popup__package-description,
    .wil-popup__package .wil-popup__package-price-td .wil-popup__package-price,
    .wil-popup__package .wil-popup__package-price-td .addlisting-popup__package-price,
    .wil-popup__package .addlisting-popup__package-price-td .wil-popup__package-description,
    .wil-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-description,
    .wil-popup__package .addlisting-popup__package-price-td .wil-popup__package-price,
    .wil-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price,
    .wil-popup__package .wil-popup__package-description .wil-popup__package-description,
    .wil-popup__package .wil-popup__package-description .addlisting-popup__package-description,
    .wil-popup__package .wil-popup__package-description .wil-popup__package-price,
    .wil-popup__package .wil-popup__package-description .addlisting-popup__package-price,
    .wil-popup__package .addlisting-popup__package-description .wil-popup__package-description,
    .wil-popup__package .addlisting-popup__package-description .addlisting-popup__package-description,
    .wil-popup__package .addlisting-popup__package-description .wil-popup__package-price,
    .wil-popup__package .addlisting-popup__package-description .addlisting-popup__package-price,
    .addlisting-popup__package .wil-popup__package-price-td .wil-popup__package-description,
    .addlisting-popup__package .wil-popup__package-price-td .addlisting-popup__package-description,
    .addlisting-popup__package .wil-popup__package-price-td .wil-popup__package-price,
    .addlisting-popup__package .wil-popup__package-price-td .addlisting-popup__package-price,
    .addlisting-popup__package .addlisting-popup__package-price-td .wil-popup__package-description,
    .addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-description,
    .addlisting-popup__package .addlisting-popup__package-price-td .wil-popup__package-price,
    .addlisting-popup__package .addlisting-popup__package-price-td .addlisting-popup__package-price,
    .addlisting-popup__package .wil-popup__package-description .wil-popup__package-description,
    .addlisting-popup__package .wil-popup__package-description .addlisting-popup__package-description,
    .addlisting-popup__package .wil-popup__package-description .wil-popup__package-price,
    .addlisting-popup__package .wil-popup__package-description .addlisting-popup__package-price,
    .addlisting-popup__package .addlisting-popup__package-description .wil-popup__package-description,
    .addlisting-popup__package .addlisting-popup__package-description .addlisting-popup__package-description,
    .addlisting-popup__package .addlisting-popup__package-description .wil-popup__package-price,
    .addlisting-popup__package .addlisting-popup__package-description .addlisting-popup__package-price {
        overflow: hidden;
    }
    .wil-popup__package .wil-popup__package-description strong,
    .wil-popup__package .addlisting-popup__package-description strong,
    .addlisting-popup__package .wil-popup__package-description strong,
    .addlisting-popup__package .addlisting-popup__package-description strong {
        display: none;
    }
    .wil-popup__package .wil-popup__package-name,
    .wil-popup__package .addlisting-popup__package-name,
    .addlisting-popup__package .wil-popup__package-name,
    .addlisting-popup__package .addlisting-popup__package-name {
        overflow: hidden;
    }
}

.wiloke-event-method tr {
    display: block;
}

.wiloke-event-method tr.active .wil-popup__package-form,
.wiloke-event-method tr.active .addlisting-popup__package-form {
    display: block;
}

.wiloke-event-method .wil-popup__content,
.wiloke-event-method .addlisting-popup__content {
    padding: 20px;
}

@media (min-width: 767px) {
    .wiloke-event-method .wil-popup__content,
    .wiloke-event-method .addlisting-popup__content {
        padding: 30px 30px 30px 30px;
    }
}

@media (min-width: 992px) {
    .wiloke-event-method .wil-popup__content,
    .wiloke-event-method .addlisting-popup__content {
        padding: 25px 40px 35px 40px;
    }
}

.wiloke-event-method .wil-popup__package-description .wil-popup__package-edit,
.wiloke-event-method .wil-popup__package-description .addlisting-popup__package-edit,
.wiloke-event-method .addlisting-popup__package-description .wil-popup__package-edit,
.wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit {
    border: 1px solid #dddddd;
    color: #ff7010;
    border-radius: 6px;
    padding: 6px 20px;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}

.wiloke-event-method .wil-popup__package-description .wil-popup__package-edit i,
.wiloke-event-method .wil-popup__package-description .addlisting-popup__package-edit i,
.wiloke-event-method .addlisting-popup__package-description .wil-popup__package-edit i,
.wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit i {
    width: 22px;
    line-height: 22px;
    background-color: #ff7010;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    margin-right: 3px;
}

.wiloke-event-method .wil-popup__package-description .wil-popup__package-edit:hover,
.wiloke-event-method .wil-popup__package-description .addlisting-popup__package-edit:hover,
.wiloke-event-method .addlisting-popup__package-description .wil-popup__package-edit:hover,
.wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit:hover {
    border-color: #ff7010;
}

@media (min-width: 768px) {
    .wiloke-event-method .wil-popup__package-description .wil-popup__package-edit,
    .wiloke-event-method .wil-popup__package-description .addlisting-popup__package-edit,
    .wiloke-event-method .addlisting-popup__package-description .wil-popup__package-edit,
    .wiloke-event-method .addlisting-popup__package-description .addlisting-popup__package-edit {
        float: right;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.wiloke-event-method .wil-popup__package-form,
.wiloke-event-method .addlisting-popup__package-form {
    width: 100%;
    padding-top: 0;
    display: none;
}

.listg-event-msg,
#listg-event-msg {
    margin-bottom: 10px;
    font-style: italic;
}

.listg-event-msg:empty,
#listg-event-msg:empty {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .listg-event-msg,
    #listg-event-msg {
        float: left;
        width: 45%;
        padding: 10px 0;
        margin-bottom: 0;
        text-align: left;
    }
}

.wiloke-event-method__form {
    text-align: left;
    padding-top: 15px;
    clear: both;
}

.wiloke-event-method__form .profile-actions {
    display: block;
}

.wiloke-event-method__form .profile-actions .listgo-btn {
    display: inline-block;
}

.page-template-addlisting .mce-toolbar-grp.gallery-active {
    opacity: 0;
    visibility: hidden;
}

#ui-datepicker-div,
.pac-container {
    z-index: 9993;
}

#wpadminbar {
    z-index: 9991;
}

.mce-i-dashicons-format-video:before {
    content: "\f126";
    overflow: visible;
    font: 400 20px/1 dashicons;
}